@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 4%;

    --primary: 15 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 15 100% 60%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 15 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 60%;
    --input: 0 0% 90%;
    --ring: 15 100% 60%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* Termageddon Policy CSS 
If you are using our (new) css compatibility mode (under 'view embed code' -> 'advanced' button), you need to use the #policy_embed_div ID Selector instead of the #policy selector. */

#policy h2 {
  color: var(--color-vit-brand);
  font-family: "Poppins", system-ui;
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy h3 {
  color: var(--color-vit-brand);
  font-family: "Poppins", system-ui;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy h4 {
  font-family: "Poppins", system-ui;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy h5 {
  font-family: "Poppins", system-ui;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy p {
  font-family: "Poppins", system-ui;
  font-size: 14px;
  margin-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy .accordion-heading {
  font-family: "Poppins", system-ui;
  font-size: 16px;
}
 
#policy .accordion-section-content {
  font-family: "Poppins", system-ui;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy table {
  border: 1px solid var(--color-vit-dark);
  vertical-align: bottom;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy ul {
  font-family: "Poppins", system-ui;
  font-size: 14px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy li {
  font-family: "Poppins", system-ui;
  font-size: 14px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#policy a {
  color: var(--color-vit-brand);
}